/*
    @theme SilverStripe
    @placeholder ss
*/


ss{
	color: hsl(195, 86%, 45%);
}

ss delimiter.control > bracket{
	color: hsl(195, 86%, 80%);
}

ss keyword{
	font-weight: bold;
	color:hsl(195, 86%, 40%);
}

ss name{
	font-weight: normal;
	color: hsl(195, 86%, 45%);
	/* #48C5F2 */
}

ss punctuation{
	color: hsl(195, 86%, 60%);
}

ss parameter{
	color: hsl(195, 86%, 30%);
}