/*
    @theme SilverStripe
    @placeholder ss
*/

variable.ss{
	color: hsl(194, 86%, 45%);
	/* #48C5F2 */
}

variable.ss > punctuation.dollar{
	color: hsl(195, 86%, 61%);
}

control.ss{
	color:hsl(195, 86%, 45%);
}

control.ss > delimiter.control > bracket{
	color: hsl(195, 86%, 80%);
}

control.ss > delimiter.control > percentage{
	color: hsl(195, 86%, 61%);
}